<h2>Event Mail</h2>

<%= form_with model:@mail, url:group_mails_path, local:true do |f| %>

  <div class="form-mail">
    <label for="mail_title">Title</label>
    <%= f.text_field :title, :class => 'form-control mail_title', :id => 'mail_title' %>
  </div>
  <div class="form-mail">
    <label for="mail_content">紹介文</label>
    <%= f.text_area :content, :class => 'form-control mail_content', :id => 'mail_content' %>
  </div>

  <div class="form-mail">
    <%= f.submit '送信', :class => 'btn btn-success' %>
  </div>

<% end %>